[user]
	signingkey = /home/x/.ssh/id_github
  email = mbrav@protonmail.com
  name = mbrav
[commit]
  gpgsign = true
[core]
  editor = vim
[web]
  browser = firefox
[init]
  defaultBranch = main
[status]
  # The --short option added to git status gives a short formatted output
  short = true
[fetch]
  # Pruning during fetch is a cleanup method that deletes outdated remote references in your .git directory 
  prune = true
[color]
  ui = true
[gpg]
	format = ssh
