[submodule "dotfiles/.config/tmux/plugins/tpm"]
	path = dotfiles/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "dotfiles/.config/scripts/kubectl-aliases"]
	path = dotfiles/.config/scripts/kubectl-aliases
	url = https://github.com/ahmetb/kubectl-aliases
